language: rust
cache: cargo
rust:
  - stable
  - beta
  - nightly
jobs:
  allow_failures:
    - rust: nightly
  fast_finish: true
install:
  - rustup component add clippy
  - rustup component add rustfmt
script:
  - cargo test --verbose --all
  - cargo fmt -v -- --check
  - cargo clippy -- -D warnings
